.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 1em;
}
.navbar li, ol li {
    padding: 1em;
    align-items: center;
}
a {
    text-decoration: none;
}
a:visited {
    color: blue;
}
#errors {
    margin-left: 4em;
}
.message {
    color: red;
}
#user {
    margin-left: auto;
    display: flex;
    padding: 0em;
}
#user * {
    padding-left: 1em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
}
#competency-elements, #competency-elements tr {
    border: none;
    display: flex;
}
#competency-elements th {
    border-top: none;
    border-bottom: none;
}
#competency-elements td {
    border-bottom: none;
}
#comp-elems-td, #comp-elems-td * {
    padding: 0em;
}
#comp-elem-id {
    border-left: none;
    width: 10%;
    justify-content: center;
}
#comp-elem-el {
    border-left: none;
    border-right: none;
    width: 30%;
}
#comp-elem-cr {
    border-right: none;
    width: 60%;
}
#course-id {
    width: 10%;
}
#course-title {
    width: 25%;
}
#course-desc {
    width: 65%;
}
#avatar {
    height: 50px;
    width: 50px;
}
.auth-form {
    display: flex;
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5em;
}
.edit-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5em;
}
.form-section {
    padding: 1em;
    margin-left: 2em;
}
label {
    width: 25%;
    justify-content: center;
}
#email, #password, #name, #avatar{
    width: 60%;
    margin-left: auto;
}
#login, #role, #submit, #delete {
    width: 62%;
    margin-left: auto;
}
#signup {
    width: 100%;
}
#usr-edit-form {
    width: auto;
}
#dash-usr {
    width: 50%;
}