.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 1em;
}
.navbar li {
    padding: 1em;
}
.navbar a {
    text-decoration: none;
}
.navbar a:visited {
    color: blue;
}
#user {
    margin-left: auto;
}