{% extends 'base.html' %}
{% block title %}New Competency{% endblock %}
{% block content %}
    {%if current_user.is_authenticated %}
    <form name="form" id="new_competency" method="POST" class="db_form">
        <label id="add-comp-form-label" for="form">New Competency Form: </label> <br><br>
        {{form.csrf_token}}
        {{ form.competency_id.label }}
        {{ form.competency_id()}}
        {{ form.competency.label }}
        {{ form.competency()}}
        {{ form.competency_achievement.label }}
        {{ form.competency_achievement() }}
        {{ form.competency_type.label }}
        {{ form.competency_type() }}
        {{ form.elements.label }}
        {{ form.elements() }}
        <button id="editcomp-button" class="form_btn" type="submit">Add</button>
    </form>
    {%else%}
        <h1>You must be logged in to add a competency</h1>
    {%endif%}
{% endblock %}