{% extends 'base.html' %}
{% block content %}
<h1>Welcome to the Admin Dashboard</h1>
{% if current_user.is_authenticated %}
{% if users %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      {% if current_user.role == 'admin' or current_user.role == 'admin_user_gp'%}
      <th>Role</th>
      <th>Edit</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for i in range(users.__len__()) %}
    <tr>
      <td>{{ users[i].name }}</td>
      <td>{{users[i].email}}
      {% if current_user.role == 'admin' or current_user.role == 'admin_user_gp'%}
      <td>{{users[i].role}}</td>
      <td>
        <form method="post" enctype="multipart/form-data">
          {{ forms[i].csrf_token }}
          <input type="hidden" name="old_email" value="{{ users[i].email }}">
          {{ forms[i].email.label }} {{ forms[i].email() }}
          {{ forms[i].name.label }} {{ forms[i].name() }}
          {{ forms[i].password.label }} {{ forms[i].password() }}
          {{ forms[i].role.label }} {{ forms[i].role() }}
          {{ forms[i].avatar.label }} {{ forms[i].avatar() }}
          {{ forms[i].submit.label}} {{ forms[i].submit() }}
          {{ forms[i].delete.label}} {{ forms[i].delete() }}
        </form>
      </td> 
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No users found.</p>
{% endif %}
{% else %}
<p>You must be logged in to view this page</p>
{% endif %}
{% endblock %}