<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar">
            <li class="navbar"><a href="{{ url_for('home.index') }}">Home</a></li>
            <li class="navbar"><a href="{{ url_for('course.display_courses') }}">Courses</a></li>
            <li class="navbar"><a href="{{ url_for('competency.display_competencies') }}">Competencies</a></li>
            <li class="navbar"><a href="">Elements</a></li>
            {% block user %}
            <li class="navbar" id="user">
                <a href="{{ url_for('auth.login')}}">Login</a>
            </li>
            {% endblock %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
    {% block errors %}
            {% for message in get_flashed_messages() %}
                <div class="message">{{message}}</div>
            {% endfor %}
        {% endblock %}
</body>
</html>