{% extends 'base.html' %}
{% block title %}Competencies{% endblock %}
{% block content %}
    <table>
        {% for competency in competencies %}
        <tr>
            <td>{{competency.competencyId}}</td>
            <td>{{competency.competency}}</td>
            <td>{{competency.competencyAchievement}}</td>
            <td>{{competency.competencyType}}</td>
            <td>
                <table>
                    {% for element in competency.elements %}
                    <tr>
                        <td>{{element.id}}</td>
                        <td>{{element.element}}</td>
                        <td>{{element.criteria}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}      
    </table>
{% endblock %}