{% extends 'base.html' %}
{% block title %}Competencies{% endblock %}
{% block content %}
    <table class="data" id="competencies">
        <tr>
            <th>ID</th>
            <th>Competency</th>
            <th>Achievement</th>
            <th>Type</th>
            <th>Elements</th>
        </tr>
        {% for competency in competencies %}
        <tr>
            <td>{{competency.competency_id}}</td>
            <td>{{competency.competency}}</td>
            <td>{{competency.competency_achievement}}</td>
            <td>{{competency.competency_type}}</td>
            <td id="comp-elems-td">
                <table class="data" id="competency-elements">
                    <tr>
                        <th id="comp-elem-id">ID</th>
                        <th id="comp-elem-el">Element</th>
                        <th id="comp-elem-cr">Criteria</th>
                    </tr>
                    {% for element in competency.elements %}
                    <tr>
                        <td id="comp-elem-id"><a href="{{ url_for('element.display_element', element_id=element.element_id)}}">{{element.element_id}}</a></td>
                        <td id="comp-elem-el">{{element.element}}</td>
                        <td id="comp-elem-cr">{{element.element_criteria}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}      
    </table>
{% endblock %}