{% extends 'base.html' %}
{% block title %}Courses{% endblock %}
{% block content %}
    {% for domain in domains %}
        <h2>{{domain.title}}</h2>
        {% for term in terms %}
            <h3>Term {{term.id}}</h3>
            <table>
                {% for course in courses %}
                    <tr>
                        <td>{{course.id}}</td>
                        <td>{{course.title}}</td>
                        <td>{{course.theory_hours}}</td>
                        <td>{{course.lab_hours}}</td>
                        <td>{{course.work_hours}}</td>
                        <td>{{course.description}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}