{% extends 'base.html' %}
{% block title %}Course Edit{% endblock %}
{% block content %}
    <form name="form" id="new_course" method="POST">
        <label id="course-form-label" for="form">Edit Course Form: </label> <br><br>
        {{form.csrf_token}}
        {{ form.course_number.label }}
        {{ form.course_number(value=course.course_number, readonly=true)}}
        {{ form.course_title.label }}
        {{ form.course_title(value=course.course_title)}}
        {{ form.theory_hours.label }}
        {{ form.theory_hours(value=course.theory_hours) }}
        {{ form.lab_hours.label }}
        {{ form.lab_hours(value=course.lab_hours) }}
        {{ form.homework_hours.label }}
        {{ form.homework_hours(value=course.homework_hours) }}
        {{ form.description.label }}
        {{ form.description(value=course.description) }}
        {{ form.domain_id.label }}
        {{ form.domain_id() }}
        {{ form.term_id.label }}
        {{ form.term_id() }}
        {{ form.competencies.label }}
        {{ form.competencies() }}
        <input id="button" type="submit" />
    </form>
{% endblock %}