{% extends 'base.html' %}
{% block title %}Elements{% endblock %}
{% block content %}
    <h1>All Elements</h1>
    <table class="data" id="elements">
        <tr>
            <th>ID</th>
            <th>Element</th>
            <th>Criteria</th>
        </tr>
        {% for element in elements %}
        <tr>
            <td><a href="{{ url_for('element.display_element', element_id=element.element_id)}}">{{element.element_id}}</a></td>
            <td>{{element.element}}</td>
            <td>{{element.element_criteria}}</td>
        </tr>
        {% endfor %}      
    </table>
    {% if current_user.is_authenticated %}
        <a href="{{url_for('elements.add_element')}}">Add a New Element</a>
    {% endif %}
{% endblock %}