{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<p>with an existing account. Don't have one? <a href="{{ url_for('auth.signup') }}">Signup</a> now!</p>

<section class="form-section">
    <form method="post" class="auth-form">
        {{ form.csrf_token }}
        {{ form.email.label}} {{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        {{ form.remember_me.label}}{{ form.remember_me() }}
        <input type="submit" id="login"/>
    </form>
</section>

{% endblock %}