{% extends 'base.html' %}
{% block title %}Element {{element.id}}{% endblock %}
{% block content %}
    <h1>{{element.element}}</h1>
    <table>
        <tr>
            <th>Element ID</th>
            <th>Element</th>
            <th>Criteria</th>
        </tr>
        <tr>
            <td>{{element.element_id}}</td>
            <td>{{element.element}}</td>
            <td>{{element.element_criteria}}</td>
        </tr>    
    </table>
    {% if current_user.is_authenticated %}
    <a href="{{url_for('element.edit_element', element_id=element.element_id)}}">Edit Element</a>
    {% endif %}
{% endblock %}