{% extends 'base.html' %}
{% block title %}{{course.course_title}}{% endblock %}
{% block content %}
    <p>Domain: {{course.domain.domain}}</p>
    <p>Term {{course.term.term_id}}</p>
    <section>
        <table class="data" id="courses">
            <tr id="course-row">
                <th id="course-id">Course Number</th>
                <th id="course-title">Title</th>
                <th id="course-hours">Theory</th>
                <th id="course-hours">Lab</th>
                <th id="course-hours">Homework</th>
                <th id="course-desc">Description</th>
            </tr>
            <tr id="course-row">
                <td id="course-id">{{course.course_number}}</td>
                <td id="course-title">{{course.course_title}}</td>
                <td id="course-hours">{{course.theory_hours}}</td>
                <td id="course-hours">{{course.lab_hours}}</td>
                <td id="course-hours">{{course.homework_hours}}</td>
                <td id="course-desc">{{course.description}}</td>
            </tr>
        </table>
    </section>
    <h2>Competencies:</h2>
    <section>
        <table class="data" id="competencies">
            <tr>
                <th>ID</th>
                <th>Competency</th>
                <th>Achievement</th>
                <th>Type</th>
                <th>Elements</th>
            </tr>
            {% for competency in course.competencies %}
            <tr>
                <td>{{competency.competency_id}}</td>
                <td>{{competency.competency}}</td>
                <td>{{competency.competency_achievement}}</td>
                <td>{{competency.competency_type}}</td>
                <td id="comp-elems-td">
                    <table class="data" id="competency-elements">
                        <tr>
                            <th id="comp-elem-id">ID</th>
                            <th id="comp-elem-el">Element</th>
                            <th id="comp-elem-cr">Criteria</th>
                        </tr>
                        {% for element in competency.elements %}
                        <tr>
                            <td id="comp-elem-id">{{element.element_id}}</td>
                            <td id="comp-elem-el">{{element.element}}</td>
                            <td id="comp-elem-cr">{{element.element_criteria}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}      
        </table>
    </section>

{% endblock %}